@font-face
{
    src: url('../Fonts/Opensans/OpenSans-Bold.ttf');
    font-family: 'bold';
}
@font-face
{
    src: url('../Fonts/Opensans/OpenSans-Regular.ttf');
    font-family: 'regular';
}
@font-face
{
    src: url('../Fonts/Opensans/OpenSans-SemiBold.ttf');
    font-family: 'semi-bold';
}
#register
{
    height: 100vh;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}
#register_block
{
    max-width: 450px;  
}
#register_block #brand
{
    color: black;
    font-size: 30px;
    font-family: 'bold';
}
#register_block #form
{
    background-color: white;
    box-shadow: 0px 0px 7px 7px rgb(231, 231, 231);
    border-radius: 10px;
}
#register_block #form #register_caption
{
    color: black;
    font-family: 'semi-bold';
    font-size: 20px;
}
#register_block #form #register_caption span
{
    color: white;
    background-color: black;
    border-radius: 5px;
}
#register_inputs input
{
    box-shadow: none;
    border: none;
    outline: none;
    font-family: 'semi-bold';
    color: black;
}
#register_inputs input::placeholder
{
    font-family: 'semi-bold';
}
#register_inputs #email, #name, #password
{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#login
{
    font-family: 'semi-bold';
    font-size: 16px;
}
#footer
{
    display: none;
}
#btn
{
    font-family: 'semi-bold';
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media only screen and (max-width: 399px){
    #register
    {
        padding: 0px !important;
    }
}
@media only screen and (max-width: 360px){
    #register
    {
        background-color: white;
        
    }
    #register_block
    {
        padding: 0px !important;
    }
    #register_block #form
    {
        width: 100vw !important;
        box-shadow: none;
    }
    #register_block #brand
    {
        display: none;
    }
    #footer
    {
        display: block;
        color: rgb(155, 155, 155);
        font-size: 16px;
    }
    #login
    {
        font-family: 'semi-bold';
        font-size: 14px;
    }
}